* {
    margin: 0;
    padding: 0;
}

.site {
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('img/teslim-presenting.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    padding: 0 5rem;
}